@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.primary {
  @apply bg-black text-white rounded-md p-2 m-2 ml-2 hover:bg-gray-800 hover:underline;
}
.secondary {
  @apply bg-gray-800 text-white rounded-md p-2 m-2 ml-2 underline hover:bg-black;
}
