@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  scroll-behavior: smooth;
  @apply scroll-smooth hover:scroll-auto;
}
* {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.primary {
  @apply bg-white text-gray-800 font-bold rounded-md p-2 m-2 ml-2 hover:shadow-md uppercase;
}
.secondary {
  @apply bg-gray-800 text-white rounded-md p-2 m-2 ml-2 underline hover:bg-black;
}
.brand1 {
  background: #8ecae6;
}
.brand2 {
  background: #ffddd2;
}
